@font-face {
  font-family: "Futura PT Book";
  src: url("../assets/fonts/FuturaPT-Book.eot");
  src: url("../assets/fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/FuturaPT-Book.woff") format("woff"), url("../assets/fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Medium";
  src: url("../assets/fonts/FuturaPT-Medium.eot");
  src: url("../assets/fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/FuturaPT-Medium.woff") format("woff"), url("../assets/fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("../assets/fonts/FuturaPT-Demi.eot");
  src: url("../assets/fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/FuturaPT-Demi.woff") format("woff"), url("../assets/fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Bold";
  src: url("../assets/fonts/FuturaPT-Bold.eot");
  src: url("../assets/fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/FuturaPT-Bold.woff") format("woff"), url("../assets/fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Heavy";
  src: url("../assets/fonts/FuturaPT-Heavy.eot");
  src: url("../assets/fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/FuturaPT-Heavy.woff") format("woff"), url("../assets/fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus, textarea:focus, a:focus, button:focus {
  outline: none;
}

.root {
  overflow-x: hidden;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1570px;
  padding: 0 15px;
}

.dd {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.dd.active .dd-list {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.dd-list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  min-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
.dd-list.showDown {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.dd-list.showUp {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.dd._scrolled .dd-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 10px;
  overflow-y: auto;
}
.dd._scrolled .dd-list ul::-webkit-scrollbar-track {
  background-color: #E8EEF6;
}
.dd._scrolled .dd-list .dd-item {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.btn-blue {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#0072ff), to(#00f6ff));
  background: -o-linear-gradient(bottom, #0072ff 0%, #00f6ff 100%);
  background: linear-gradient(0deg, #0072ff 0%, #00f6ff 100%);
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-blue:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#006bf0), to(#00e7f0));
  background: -o-linear-gradient(bottom, #006bf0 0%, #00e7f0 100%);
  background: linear-gradient(0deg, #006bf0 0%, #00e7f0 100%);
}
.btn-blue:hover::before {
  -webkit-box-shadow: 0px -5px 25px 5px #00C9FF;
          box-shadow: 0px -5px 25px 5px #00C9FF;
  width: 45%;
}
.btn-blue:active {
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
  background: -webkit-gradient(linear, left bottom, left top, from(#0575ff), to(#05f6ff));
  background: -o-linear-gradient(bottom, #0575ff 0%, #05f6ff 100%);
  background: linear-gradient(0deg, #0575ff 0%, #05f6ff 100%);
}
.btn-blue::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 60%;
  -webkit-box-shadow: 0px 0px 25px 5px #00C9FF;
          box-shadow: 0px 0px 25px 5px #00C9FF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-blue svg, .btn-blue path {
  fill: #FFFFFF;
}
.btn-red-border {
  border: 3px solid #FF376E;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-red-border svg, .btn-red-border path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #FF376E;
}
.btn-red-border:hover {
  border-color: #ff0449;
}
.btn-red-border:hover svg, .btn-red-border:hover path {
  fill: #ff0449;
}
.btn-red-border:active {
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
}

.page-title {
  margin: 0;
  font-family: "Futura PT Bold";
  text-transform: uppercase;
  font-size: 84px;
  color: #38313f;
}
.page-title ._active {
  color: #FF376E;
}

.section-title {
  text-align: center;
  font-family: "Futura PT Demi";
  font-size: 44px;
  color: #38313f;
}
.section-subtitle {
  text-align: center;
  font-family: "Futura PT Book";
  font-size: 27px;
  color: #9f9db3;
}
.section-subtitle ._active {
  font-family: "Futura PT Demi";
  color: #FF376E;
}

.fieldbtn {
  border-radius: 36px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF3F7;
}
.fieldbtn-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  background-color: transparent;
  font-family: "Futura PT Book";
  font-size: 24px;
  color: #38313f;
}
.fieldbtn-input::-webkit-input-placeholder {
  color: #9095A5;
}
.fieldbtn-input::-moz-placeholder {
  color: #9095A5;
}
.fieldbtn-input:-ms-input-placeholder {
  color: #9095A5;
}
.fieldbtn-input::-ms-input-placeholder {
  color: #9095A5;
}
.fieldbtn-input::placeholder {
  color: #9095A5;
}
.fieldbtn-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 36px;
  height: 100%;
  padding: 0 20px;
  gap: 15px;
  font-family: "Futura PT Heavy";
  text-transform: uppercase;
  font-size: 30px;
}
.fieldbtn-btn-icon {
  width: 30px;
  height: 30px;
  line-height: 0;
}
.fieldbtn-btn-icon svg {
  width: 100%;
}

.tabs-node {
  display: block;
  visibility: visible;
}
.tabs-node.hidden {
  display: none;
}
.tabs-node.active {
  display: block;
}

@media (max-width: 1600px) {
  .page-title {
    font-size: 60px;
  }
  .fieldbtn {
    height: 60px;
  }
  .fieldbtn-input {
    font-size: 20px;
  }
  .fieldbtn-btn {
    font-size: 24px;
  }
  .fieldbtn-btn-icon {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 991px) {
  .page-title {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .btn-red-border {
    border-width: 2px;
  }
  .page-title {
    font-size: 40px;
  }
  .fieldbtn {
    height: 50px;
  }
  .fieldbtn-input {
    font-size: 18px;
    padding: 0 15px;
  }
  .fieldbtn-btn {
    gap: 10px;
    font-size: 20px;
    padding: 0 12px;
  }
  .fieldbtn-btn-icon {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 520px) {
  .page-title {
    font-size: 30px;
  }
  .fieldbtn-btn {
    font-size: 16px;
  }
  .fieldbtn-btn-icon {
    width: 16px;
    height: 16px;
  }
}
.h {
  margin-bottom: 64px;
}
.h__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.h-logo {
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 180px;
  line-height: 0;
}
.h-logo img, .h-logo svg {
  width: 100%;
}
.h-lang {
  margin-right: auto;
  border-radius: 30px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #ECF3F7;
}
.h-lang-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.h-lang-icon {
  border-radius: 50%;
  width: 27px;
  height: 27px;
}
.h-lang-icon img, .h-lang-icon svg {
  width: 100%;
  height: 100%;
}
.h-lang-label {
  font-family: "Futura PT Heavy";
  font-size: 16px;
  text-transform: uppercase;
  color: #38313f;
}
.h-lang-arrow {
  color: #A593AD;
}
.h-lang-list {
  top: calc(100% + 5px);
  border-radius: 20px;
  background-color: #ECF3F7;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.h-lang-list .h-lang-item {
  padding: 8px 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-lang-list .h-lang-item:hover {
  background-color: #deeaf1;
}
.h-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.h-nav-item {
  padding-top: 90px;
}
.h-nav-item__inner {
  border-radius: 30px;
  padding: 14px 20px;
  font-family: "Futura PT Medium";
  font-size: 23px;
  color: #38313f;
}
.h-nav-link {
  position: relative;
}
.h-nav-link .h-nav-item__inner {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-nav-link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FF376E;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-nav-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.h-nav-link:hover .h-nav-item__inner {
  background-color: #F7F4FA;
  color: #FF376E;
}
.h-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.h-select-arrow {
  border-right: 2px solid #38313f;
  border-bottom: 2px solid #38313f;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.h-select-list {
  border-radius: 20px;
  padding: 8px 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.h-select-list .h-select-item {
  display: block;
  padding: 10px 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-select-list .h-select-item:hover {
  background-color: #F7F4FA;
  color: #FF376E;
}
.h-sign {
  border-radius: 30px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF3F7;
}
.h-sign-btn {
  padding: 0 20px;
  height: 100%;
  gap: 10px;
  font-family: "Futura PT Heavy";
  text-transform: uppercase;
  font-size: 23px;
}
.h-sign-btn._in {
  border-radius: 30px;
  background-color: transparent;
  color: #38313f;
}
.h-sign-btn._up {
  border-radius: 30px;
}
.h-sign-icon {
  width: 24px;
  max-height: 30px;
}
.h-sign-icon._in {
  fill: #FF376E;
}
.h-sign-icon._up {
  fill: #FFFFFF;
}
.h-menubtn {
  display: none;
}

@media (max-width: 1600px) {
  .h-logo {
    -webkit-transform: translateY(13px);
        -ms-transform: translateY(13px);
            transform: translateY(13px);
  }
  .h-lang {
    padding: 10px 14px;
    gap: 5px;
  }
  .h-lang-item {
    gap: 5px;
  }
  .h-lang-icon {
    width: 23px;
    height: 23px;
  }
  .h-nav-item {
    padding-top: 45px;
  }
  .h-nav-item__inner {
    padding: 10px 14px;
    font-size: 20px;
  }
  .h-sign {
    height: 45px;
  }
  .h-sign-btn {
    padding: 0 10px;
    gap: 5px;
    font-size: 18px;
  }
}
@media (max-width: 1365px) {
  .h {
    position: relative;
    padding-top: 20px;
  }
  .h-nav {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 20px 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.05);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .h-nav.active {
    visibility: visible;
    opacity: 1;
  }
  .h-nav-item {
    padding-top: 0;
  }
  .h-nav-link::after {
    display: none;
  }
  .h-menubtn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4px;
    background-color: #ECF3F7;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .h-menubtn span {
    border-radius: 3px;
    display: block;
    width: 22px;
    height: 3px;
    background-color: #FF376E;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .h-menubtn.active {
    background-color: #FF376E;
  }
  .h-menubtn.active span {
    background-color: #FFFFFF;
  }
  .h-menubtn.active span:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
  }
  .h-menubtn.active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(4px, 5px);
        -ms-transform: rotate(45deg) translate(4px, 5px);
            transform: rotate(45deg) translate(4px, 5px);
  }
  .h-menubtn.active span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
        -ms-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
}
@media (max-width: 768px) {
  .h {
    margin-bottom: 30px;
  }
  .h__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .h-logo {
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
  }
  .h-nav {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 10px;
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }
  .h-select-list {
    border-radius: 10px;
  }
  .h-sign {
    height: auto;
  }
  .h-sign-btn {
    padding: 0;
    width: 45px;
    height: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .h-sign-btn-text {
    display: none;
  }
}
@media (max-width: 520px) {
  .h-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48px;
            flex: 0 1 48px;
    max-width: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .h-lang {
    padding: 8px;
  }
  .h-lang-label {
    font-size: 12px;
  }
  .h-lang-list {
    padding: 5px 0;
  }
  .h-lang-list .h-lang-item {
    padding: 8px;
  }
  .h-sign-btn {
    width: 40px;
    height: 40px;
  }
  .h-menubtn {
    width: 40px;
    height: 40px;
    gap: 3px;
  }
  .h-menubtn span {
    width: 18px;
  }
  .h-menubtn.active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
        -ms-transform: rotate(45deg) translate(4px, 4px);
            transform: rotate(45deg) translate(4px, 4px);
  }
  .h-menubtn.active span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
        -ms-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
  .h-nav {
    gap: 4px;
  }
  .h-nav-item__inner {
    font-size: 16px;
  }
}
.f-promo {
  padding: 120px 0 90px;
  background-color: #2B2233;
}
.f-promo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.f-promo-title {
  margin: 0;
  max-width: 580px;
  font-family: "Futura PT Bold";
  font-size: 56px;
  color: #FFFFFF;
}
.f-promo-title ._active {
  text-transform: uppercase;
  color: #FF376E;
}
.f-promo-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}
.f-promo-btn {
  border-radius: 35px;
  height: 70px;
  padding: 0 20px;
  gap: 15px;
  font-family: "Futura PT Heavy";
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.f-promo-btn::before {
  display: none;
}
.f-promo-btn-icon {
  max-width: 37px;
}
.f-frame {
  background-color: #2D2436;
}
.f__inner {
  padding-top: 100px;
  padding-bottom: 120px;
}
.f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.f-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.f-logo {
  width: 220px;
}
.f-logo img, .f-logo svg {
  width: 100%;
}
.f-lang {
  border-radius: 30px;
  max-width: 250px;
  width: 100%;
  height: 58px;
  padding: 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  background-color: #2B2233;
}
.f-lang-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.f-lang-icon {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
.f-lang-icon img, .f-lang-icon svg {
  width: 100%;
  height: 100%;
}
.f-lang-label {
  font-family: "Futura PT Heavy";
  font-size: 20px;
  color: #FFFFFF;
}
.f-lang-arrow {
  color: #A593AD;
}
.f-lang-list {
  top: calc(100% + 5px);
  border-radius: 20px;
  background-color: #2B2233;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.1);
}
.f-lang-list .f-lang-item {
  padding: 8px 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.f-lang-list .f-lang-item:hover {
  background-color: #352a3f;
}
.f-conts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.f-conts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.f-conts-icon {
  line-height: 0;
}
.f-conts-icon svg {
  width: 20px;
  height: 20px;
  fill: #FF376E;
}
.f-conts-text {
  font-family: "Futura PT Demi";
  font-size: 19px;
  color: #FFFFFF;
}
.f-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 24px;
}
.f-soc-item {
  border: 3px solid #A593AD;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.f-soc-item svg {
  max-width: 25px;
  width: 100%;
  fill: #A593AD;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.f-soc-item:hover {
  border-color: #00ABFF;
}
.f-soc-item:hover svg {
  fill: #00ABFF;
}
.f-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px 120px;
}
.f-nav-label {
  margin-bottom: 50px;
  font-family: "Futura PT Bold";
  text-transform: uppercase;
  font-size: 21px;
  color: #FFFFFF;
}
.f-nav-item {
  margin-bottom: 38px;
  display: block;
  font-family: "Futura PT Demi";
  font-size: 20px;
  color: #A593AD;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.f-nav-item:hover {
  color: #FF376E;
}
.f-nav-item:nth-last-of-type(1) {
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  .f-promo {
    padding: 40px 0;
  }
  .f-promo-title {
    font-size: 40px;
  }
  .f-promo-btn {
    height: 60px;
    font-size: 24px;
  }
  .f__inner {
    padding-top: 60px;
  }
  .f-bar {
    gap: 30px;
  }
  .f-nav-label {
    margin-bottom: 30px;
  }
  .f-nav-item {
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  .f__inner {
    padding-top: 40px;
  }
  .f-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .f-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .f-bar .f-conts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .f-bar .f-lang {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .f-bar .f-soc {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .f-logo {
    width: 180px;
  }
  .f-lang {
    height: 50px;
  }
  .f-lang-label {
    font-size: 16px;
  }
  .f-lang-item {
    gap: 8px;
  }
  .f-conts {
    gap: 10px;
  }
  .f-conts-text {
    font-size: 16px;
  }
  .f-soc {
    gap: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .f-soc-item {
    border-width: 2px;
    width: 40px;
    height: 40px;
  }
  .f-soc-item svg {
    max-width: 20px;
  }
  .f-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .f-nav-label {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .f-nav-item {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .f-promo {
    padding: 30px 0;
  }
  .f-promo-title {
    font-size: 30px;
  }
  .f-promo-bar {
    gap: 15px;
  }
  .f-promo-btn {
    height: 45px;
    font-size: 20px;
    gap: 10px;
  }
}
@media (max-width: 520px) {
  .f__inner {
    padding-bottom: 40px;
  }
  .f-promo-title {
    font-size: 20px;
  }
  .f-promo-btn {
    height: 40px;
    padding: 0 10px;
    font-size: 18px;
  }
  .f-promo-btn._chat svg {
    width: 30px;
  }
  .f-logo {
    width: 150px;
  }
  .f-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.ms {
  padding-top: 60px;
}
.ms-title {
  margin-bottom: 15px;
  position: relative;
  z-index: 4;
}
.ms-title-sub {
  font-family: "Futura PT Medium";
  font-size: 51px;
  color: #38313f;
}
.ms__inner {
  display: grid;
  grid-template-columns: auto -webkit-min-content;
  grid-template-columns: auto min-content;
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}
.ms__inner .ms-title__wrap {
  align-self: start;
  grid-column: 1/3;
  grid-row: 1/2;
}
.ms__inner .ms-info {
  grid-column: 1/2;
  grid-row: 2/3;
}
.ms__inner .ms-pic {
  -webkit-transform: translate(100px, -100px);
      -ms-transform: translate(100px, -100px);
          transform: translate(100px, -100px);
  grid-column: 2/3;
  grid-row: 2/3;
}
.ms-info {
  padding-top: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.ms-text {
  font-family: "Futura PT Book";
  font-size: 30px;
  color: #38313f;
}
.ms-text b {
  font-family: "Futura PT Medium";
}
.ms__text {
  margin-bottom: 85px;
}
.ms-pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  z-index: 3;
}
.ms-pic._height-limit {
  max-height: 450px;
}
.ms-pic img {
  width: 800px;
}

@media (max-width: 1600px) {
  .ms {
    padding-top: 20px;
  }
  .ms-title-sub {
    font-size: 40px;
  }
  .ms-info {
    padding-top: 30px;
  }
  .ms-text {
    font-size: 24px;
  }
  .ms__text {
    margin-bottom: 50px;
  }
  .ms-pic img {
    width: 600px;
  }
}
@media (max-width: 1200px) {
  .ms__inner .ms-pic {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .ms-pic img {
    width: 400px;
  }
  .ms__fieldbtn {
    max-width: 600px;
  }
}
@media (max-width: 991px) {
  .ms {
    padding-top: 0;
  }
  .ms-title-sub {
    font-size: 30px;
  }
  .ms-text {
    font-size: 20px;
  }
  .ms-pic img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .ms__inner {
    grid-template-rows: repeat(3, auto);
  }
  .ms__inner .ms-info {
    margin-bottom: 20px;
    grid-column: 1/3;
  }
  .ms__inner .ms-pic {
    justify-self: end;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .ms__inner .ms-pic img {
    max-width: 100%;
  }
  .ms-title {
    margin-bottom: 0;
  }
  .ms-title-sub {
    font-size: 24px;
  }
  .ms__text {
    margin-bottom: 25px;
  }
  .ms__fieldbtn {
    max-width: 400px;
  }
}
@media (max-width: 520px) {
  .ms-title-sub {
    font-size: 20px;
  }
  .ms-info {
    padding-top: 15px;
  }
}
.pc-row {
  display: grid;
}
.pc-row._grid-4 {
  grid-template-columns: repeat(4, auto);
  gap: 70px;
}
.pc-card {
  border-radius: 15px;
  padding: 45px 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ECF3F7;
}
.pc-card._hover-1 {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.pc-card._hover-1:hover {
  background-color: #FFFFFF;
}
.pc-card-title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Futura PT Heavy";
  font-size: 31px;
  color: #38313f;
}
.pc-card-price-block {
  margin: 0 auto 40px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background-color: #F3F7FA;
}
.pc-card-price .price {
  font-family: "Futura PT Heavy";
  text-transform: uppercase;
  font-size: 48px;
  color: #FF376E;
}
.pc-card-price .sub {
  font-family: "Futura PT Medium";
  font-size: 21px;
  color: #9f9db3;
}
.pc-card-b {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.pc-card-row {
  border-radius: 30px;
  min-height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F3F7FA;
}
.pc-card-label {
  padding-left: 15px;
  font-family: "Futura PT Demi";
  font-size: 19px;
  color: #38313f;
}
.pc-card-value {
  padding-right: 15px;
  font-family: "Futura PT Heavy";
  font-size: 19px;
  color: #38313f;
}
.pc-card-value .icon {
  display: inline-block;
}
.pc-card-value .icon.check {
  width: 17px;
  margin-left: 12px;
}
.pc-card-btn {
  border-radius: 30px;
  height: 60px;
  padding: 0 15px;
  font-family: "Futura PT Heavy";
  text-transform: uppercase;
  font-size: 23px;
  gap: 10px;
}
.pc-card-btn._bottom {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.pc-card-btn .icon.rocket {
  width: 27px;
}

.pagemain-pc {
  position: relative;
  padding: 30px 0 130px;
}
.pagemain-pc__bg {
  position: absolute;
  z-index: 1;
  top: -300px;
  left: 0;
  width: 100%;
}
.pagemain-pc__inner {
  position: relative;
  z-index: 2;
}
.pagemain-pc-tabs {
  padding-top: 90px;
}
.pagemain-pc-tabs-list {
  margin: 0 auto 65px;
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.pagemain-pc-tabs-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  border: 3px solid transparent;
  border-radius: 33px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background-color: #FFFFFF;
  font-family: "Futura PT Demi";
  font-size: 22px;
  color: #38313f;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.pagemain-pc-tabs-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: transparent;
  -webkit-box-shadow: 0 10px 15px 4px #d8e2e8;
          box-shadow: 0 10px 15px 4px #d8e2e8;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.pagemain-pc-tabs-item::after {
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #FF376E transparent transparent transparent;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.pagemain-pc-tabs-item.active {
  border-color: #FF376E;
}
.pagemain-pc-tabs-item.active::before {
  opacity: 0;
}
.pagemain-pc-tabs-item.active::after {
  opacity: 1;
}
.pagemain-pc-tabs-item .icon {
  max-width: 27px;
}/*# sourceMappingURL=styles.css.map */