.ft2
  &-row
    display: flex
    gap: 80px
  &-tabs
    &__wrap
      flex: 0 1 730px
      .tabs-node
        &:not(:nth-of-type(1))
          &.active
            .ft2-info__wrap
              border-top-left-radius: 20px
    &-list
      display: flex
      align-items: center
    &-item
      position: relative
      border-top-left-radius: 15px
      border-top-right-radius: 15px
      min-height: 70px
      padding: 0 30px
      display: flex
      align-items: center
      +futura-demi
      font-size: 22px
      color: $grey1
      cursor: pointer
      &::before
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        display: block
        width: 2px
        height: 17px
        background-color: $grey4
      &::after
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        display: block
        width: 2px
        height: 17px
        background-color: $grey4
      &:nth-of-type(1)
        &::before
          display: none
      &:nth-last-of-type(1)
        &::after
          display: none
      &:not(:nth-last-of-type(1))
        &::after
          display: none
      &.active
        background-color: $grey4
        color: $active
  &-info
    border-radius: 20px
    background: linear-gradient(-180deg, $grey4 0%, lighten($grey4, 5%) 100%)
    box-shadow: 0px 10px 10px 1px rgba(#E5EAEE, 1)
    &__inner
      padding: 20px 40px 40px
      min-height: 320px
      display: flex
      flex-direction: column
      align-items: flex-start
      gap: 20px
    &__wrap
      border-top-right-radius: 20px
      border-bottom-right-radius: 20px
      border-bottom-left-radius: 20px
      padding: 15px
      background-color: $grey4
    &-title
      margin: 0
      +futura-heavy
      font-size: 37px
      color: $grey1
    &-text
      +futura-med
      font-size: 21px
      color: $grey2
      p
        margin: 0
        margin-bottom: 10px
    &-btn
      margin-top: auto
      border-radius: 35px
      height: 70px
      padding: 0 28px
      gap: 18px
      +futura-heavy
      text-transform: uppercase
      font-size: 30px
      svg
        width: 30px
        height: 30px
  &-card
    border-radius: 10px
    padding: 10px 0 10px 15px
    display: flex
    align-items: center
    gap: 16px
    transition: 0.3s
    &:hover
      background-color: $grey4
    &-grid
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: 15px
      &-wrapper
        flex: 0 1 800px
    &-thumb
      flex: 0 0 auto
      width: 70px
      img
        width: 100%
    &-title
      margin: 0
      margin-bottom: 5px
      +futura-heavy
      font-size: 20px
      color: $grey1
    &-sub
      +futura-med
      font-size: 17px
      color: $grey2

@media ( max-width: 1600px )
  .ft2
    &-row
      gap: 30px
    &-tabs
      &-item
        min-height: 55px
        padding: 0 20px
        font-size: 20px

@media ( max-width: 1440px )
  .ft2
    &-tabs
      &__wrap
        flex: 0 1 540px
      &-item
        min-height: 50px
        padding: 0 15px
        font-size: 16px
    &-info
      &__inner
        padding: 15px
        min-height: 220px
      &-title
        font-size: 26px
      &-text
        font-size: 16px
      &-btn
        height: 50px
        font-size: 22px
        svg
          width: 22px
          height: 22px
    &-card
      gap: 12px
      &-grid
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr))
        gap: 5px
        &-wrapper
          flex: 0 1 700px
      &-thumb
        width: 50px
      &-title
        margin-bottom: 2px
        font-size: 18px
      &-sub
        font-size: 16px

@media ( max-width: 1200px )
  .ft2
    &-row
      flex-direction: column
    &-tabs
      &__wrap
        flex: auto
    &-info
      &__inner
        min-height: 200px
        gap: 10px
      &-btn
        height: 50px
        padding: 0 20px
        font-size: 22px
    &-card
      &-grid
        &-wrapper
          flex: auto

@media ( max-width: 768px )
  .ft2
    &-card
      padding: 10px
      gap: 10px
      &-grid
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr))
        gap: 10px
      &-thumb
        width: 50px
      &-title
        margin-bottom: 3px
        font-size: 18px
      &-sub
        font-size: 16px

@media ( max-width: 520px )
  .ft2
    &-row
      gap: 20px
    &-tabs
      &__wrap
        .tabs-node
          &:nth-last-of-type(1)
            &.active
              .ft2-info__wrap
                border-top-right-radius: 0
      &-item
        flex: 1 1 auto
        min-height: 40px
        padding: 0 10px
        font-size: 14px
        display: flex
        justify-content: center
    &-info
      padding: 15px
      &__wrap
        border-top-right-radius: 0
      &-title
        font-size: 22px
      &-text
        font-size: 14px
        line-height: 1.3
      &-btn
        height: 40px
        font-size: 18px
        padding: 0 15px
        gap: 10px
        svg
          width: 20px
          height: 20px
    &-card
      &-grid
        grid-template-columns: repeat(8, 1fr)
        overflow-x: auto
      &-thumb
        width: 40px
      &-title
        font-size: 14px
      &-sub
        white-space: nowrap
        font-size: 12px
