.inf2
  &-grid
    display: grid
    grid-template-columns: 30% 65%
    justify-content: space-between
    gap: 40px 0
    &._reverse
      grid-template-columns: 65% 30%
      .inf2
        &-pic
          grid-column: 2/3
        &-title
          text-align: right
          grid-column: 1/2
        &-desc
          text-align: right
          grid-column: 1/2
        &-card
          &-grid
            justify-content: flex-end
            grid-column: 1/2
        &-ft
          justify-content: flex-end
          &__wrap
            grid-column: 1/2
        &-list
          &__wrap
            grid-column: 1/2
          &-item
            flex-direction: row-reverse
          &-label
            text-align: right
  &-pic
    grid-column: 1/2
    grid-row: 1/4
    display: flex
    align-items: center
    justify-content: center
    img
      max-width: 100%
  &-title
    align-self: end
    grid-column: 2/3
    grid-row: 1/2
    margin: 0
    +futura-demi
    font-size: 36px
    color: $grey1
  &-desc
    grid-column: 2/3
    grid-row: 2/3
  &-text
    +futura-book
    font-size: 22px
    color: $grey1
    p
      margin: 0
      margin-bottom: 40px
      &:nth-last-of-type(1)
        margin-bottom: 0
    strong
      +futura-heavy
      color: $active
  &-card
    flex: 0 1 45%
    border-radius: 20px
    padding: 24px 30px
    background-color: $white
    transition: 0.2s
    &:hover
      box-shadow: 0px 10px 25px 5px rgba(#E9EEF2, 1)
      .inf2-card
        &-label
          color: $active
    &-grid
      grid-column: 2/3
      grid-row: 3/4
      display: flex
      flex-wrap: wrap
      gap: 50px 40px
    &-label
      margin-bottom: 20px
      +futura-heavy
      font-size: 22px
      color: $grey1
    &-desc
      +futura-book
      font-size: 20px
      color: $grey1
  &-ft
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    gap: 30px 60px
    &__wrap
      grid-column: 2/3
      grid-row: 3/4
    &-item
      display: flex
      align-items: center
      gap: 10px
    &-icon
      max-width: 45px
      flex: 0 0 auto
      line-height: 0
      img
        max-width: 100%
    &-label
      +futura-demi
      font-size: 18px
      color: $grey1
    &-sub
      +futura-med
      font-size: 17px
      color: #9b9dad
  &-list
    &__wrap
      grid-column: 2/3
      grid-row: 3/4
    &-item
      margin-bottom: 20px
      display: flex
      align-items: center
      gap: 20px
      &:nth-last-of-type(1)
        margin-bottom: 0
    &-icon
      flex: 0 0 auto
      width: 30px
      line-height: 0
      img
        width: 100%
    &-label
      +futura-heavy
      font-size: 23px
      color: $grey1

@media ( max-width: 1440px )
  .inf2
    &-grid
      gap: 30px 0
    &-title
      font-size: 32px
    &-text
      font-size: 20px
    &-card
      padding: 16px 24px
      &-label
        margin-bottom: 12px
        font-size: 20px
      &-desc
        font-size: 16px
    &-ft
      gap: 30px
      &-icon
        max-width: 35px
      &-label
        font-size: 16px
      &-sub
        font-size: 15px
    &-list
      &-icon
        width: 25px
      &-label
        font-size: 20px

@media ( max-width: 991px )
  .inf2
    &-title
      font-size: 28px
    &-text
      font-size: 18px

@media ( max-width: 768px )
  .inf2
    &-grid
      grid-template-columns: 38% 58%
      gap: 20px 0
      &._reverse
        grid-template-columns: 58% 38%
        .inf2
          &-title
            grid-column: 1/3
            grid-row: 1/2
          &-desc
            grid-column: 1/3
            grid-row: 2/3
          &-pic
            grid-column: 2/3
            grid-row: 3/4
          &-card
            &-grid
              grid-column: 1/2
              grid-row: 3/4
          &-ft
            &__wrap
              grid-column: 1/2
              grid-row: 3/4
          &-list
            &__wrap
              grid-column: 1/2
              grid-row: 3/4
    &-title
      grid-column: 1/3
      grid-row: 1/2
    &-desc
      grid-column: 1/3
      grid-row: 2/3
    &-pic
      grid-column: 1/2
      grid-row: 3/4
    &-card
      flex: auto
      &-grid
        gap: 30px
        grid-column: 2/3
        grid-row: 3/4
        flex-wrap: nowrap
        flex-direction: column
    &-ft
      &__wrap
        align-self: center
        grid-column: 2/3
        grid-row: 3/4
    &-list
      &__wrap
        align-self: center
        grid-column: 2/3
        grid-row: 3/4
      &-item
        gap: 12px
      &-icon
        width: 22px
      &-label
        font-size: 18px

@media ( max-width: 520px )
  .inf2
    &-grid
      grid-template-columns: 100%
      &._reverse
        grid-template-columns: 100%
        .inf2
          &-title
            grid-column: 1/2
            grid-row: 1/2
          &-desc
            grid-column: 1/2
            grid-row: 2/3
          &-pic
            grid-column: 1/2
            grid-row: 3/4
          &-card
            &-grid
              grid-column: 1/2
              grid-row: 4/5
          &-ft
            &__wrap
              grid-column: 1/2
              grid-row: 4/5
          &-list
            &__wrap
              grid-column: 1/2
              grid-row: 4/5
    &-title
      grid-column: 1/2
      grid-row: 1/2
      font-size: 24px
    &-desc
      grid-column: 1/2
      grid-row: 2/3
    &-text
      font-size: 16px
    &-pic
      margin: 0 auto
      max-width: 220px
      grid-column: 1/2
      grid-row: 3/4
    &-card
      border-radius: 10px
      padding: 12px 14px
      flex: 0 1 auto
      &-grid
        gap: 15px
        grid-column: 1/2
        grid-row: 4/5
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-between
      &-label
        margin-bottom: 5px
        font-size: 16px
      &-desc
        font-size: 16px
    &-ft
      justify-content: space-around
      gap: 30px 10px
      &__wrap
        grid-column: 1/2
        grid-row: 4/5
    &-list
      &__wrap
        grid-column: 1/2
        grid-row: 4/5
      &-icon
        width: 18px
      &-label
        font-size: 16px
