.acc
  display: grid
  grid-template-columns: 312px auto
  min-height: 100vh
  &-sb
    height: 100%
    display: flex
    flex-direction: column
    background-color: $purple4
    &._type2
      border-right: 1px solid #E8F0F6
      background-color: $white
      .acc-sb
        &-h
          border-bottom: 1px solid #E8F0F6
          background-color: $white
        &-inner
          padding-top: 150px
    &-triggerbtn
      display: none
    &-h
      position: fixed
      top: 0
      left: 0
      z-index: 10
      width: 311px
      height: 150px
      display: flex
      align-items: center
      justify-content: center
      background-color: $purple5
      &-logo
        width: 190px
        img, svg
          width: 100%
    &-inner
      flex: 1 1 auto
      padding: 200px 0 15px
    &-nav
      &-group
        margin-bottom: 30px
      &-label
        margin-bottom: 20px
        padding-left: 60px
        display: flex
        align-items: center
        gap: 7px
        +geo-bold
        font-size: 18px
        color: #706a7f
        .arrow
          transform: rotate(45deg)
          font-size: 9px
      &-item
        position: relative
        padding: 16px 16px 16px 60px
        display: flex
        align-items: center
        gap: 10px
        transition: 0.3s ease
        &::after
          content: ''
          position: absolute
          z-index: 1
          top: 0
          left: 0
          width: 3px
          height: 100%
          background: linear-gradient(0deg, rgba(0,131,255,1) 0%, rgba(0,227,255,1) 100%)
          box-shadow: 0px 0px 40px 10px rgba(0,227,255,0.5)
          transition: 0.2s ease
          opacity: 0
        &::before
          content: ''
          position: absolute
          z-index: 1
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: linear-gradient(90deg, rgba(0,106,147,1) 0%, rgba(0,0,0,0) 100%)
          opacity: 0
          transition: 0.2s ease
        &:hover
          &::before
            opacity: 1
          &::after
            opacity: 1
          .acc-sb-nav-item-icon
            svg
              fill: $blue
              path
                fill: $blue
            &._balance
              svg
                rect, path
                  stroke: $blue
                  fill: $blue
            &._notification
              svg
                path
                  stroke: $blue
                  fill: transparent
            &._user
              svg
                path, circle
                  stroke: $blue
                  fill: transparent
            &._support
              svg
                path, circle
                  stroke: $blue
                  fill: transparent
        &-icon
          position: relative
          z-index: 2
          svg
            width: 24px
            height: 24px
            fill: #574D68
            transition: 0.2s ease
            path
              transition: 0.2s ease
              fill: #574D68
          &._balance
            svg
              rect, path
                transition: 0.2s ease
                stroke: #574D68
                fill: #574D68
          &._notification
            svg
              path
                stroke: #574D68
                fill: transparent
          &._user
            svg
              path, circle
                transition: 0.2s ease
                stroke: #574D68
                fill: transparent
          &._support
            svg
              path
                stroke: #574D68
                fill: transparent
        &-title
          position: relative
          z-index: 2
          +geo-bold
          font-size: 16px
          color: $white
        &-mark
          position: relative
          z-index: 2
          margin-left: 10px
          border-radius: 50%
          width: 21px
          height: 21px
          display: flex
          align-items: center
          justify-content: center
          background-color: $active
          +futura-bold
          font-size: 13px
          color: $white
    &-f
      flex: 0 0 auto
      width: 100%
      min-height: 168px
      padding: 30px 40px
      display: flex
      flex-direction: column
      gap: 20px
      background-color: $purple5
    &-lang
      border-radius: 30px
      width: 100%
      height: 52px
      padding: 0 14px
      display: flex
      align-items: center
      justify-content: space-between
      gap: 13px
      background-color: lighten($purple4, 10%)
      &-item
        display: flex
        align-items: center
        gap: 14px
      &-icon
        border-radius: 50%
        width: 28px
        height: 28px
        img, svg
          width: 100%
          height: 100%
      &-label
        +geo-bold
        font-size: 16px
        color: $white
      &-arrow
        transform: rotate(45deg)
        font-size: 10px
        color: $purple1
      &-list
        top: calc(100% + 5px)
        border-radius: 20px
        background-color: $purple4
        padding: 10px 0
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3)
        .acc-sb-lang-item
          padding: 8px 14px
          transition: 0.3s
          &:hover
            background-color: lighten($purple5, 4%)
    &-soc
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: space-between
      gap: 10px 0
      &-item
        border: 2px solid #504B5A
        border-radius: 50%
        width: 34px
        height: 34px
        display: flex
        align-items: center
        justify-content: center
        transition: 0.3s ease-in-out
        svg
          max-width: 17px
          width: 100%
          fill: #504B5A
          transition: 0.3s ease-in-out
        &:hover
          border-color: $blue
          svg
            fill: $blue
    &-acrd
      &-item
        // border-top: 1px solid #E8F0F6
        border-bottom: 1px solid #E8F0F6
        overflow: hidden
        &:nth-last-child(1)
          border-top: none
        &.accordion__item_show
          .acc-sb-acrd
            &-item
              &-arrow
                background-color: $active
                svg
                  transform: scale(1, -1)
                  fill: $white
        &-h
          min-height: 78px
          padding: 10px 28px 10px 25px
          display: flex
          align-items: center
          justify-content: space-between
          gap: 10px
          cursor: pointer
          transition: 0.3s
        &-label
          +futura-heavy
          font-size: 20px
          color: $grey1
          ._active
            color: $active
        &-arrow
          flex: 0 0 auto
          border-radius: 10px
          width: 32px
          height: 32px
          display: flex
          align-items: center
          justify-content: center
          background-color: #EEF3F7
          transition: 0.3s
          svg
            width: 14px
            fill: $active
            transition: 0.3s
        &-content
          border-top: 1px solid #E8F0F6
          padding: 15px 28px 15px 25px
      &-list
        margin: 0
        padding: 0
        padding-left: 20px
        +futura-med
        font-size: 18px
        line-height: 1.3
        color: $grey1
        &._mark-none
          padding-left: 0
          list-style: none
        li
          margin-bottom: 10px
          &:nth-last-of-type(1)
            margin-bottom: 0
        a
          color: $active
  &-frame
    height: 100%
    background-color: #F2F2F8
    display: flex
    flex-direction: column
  &-h
    position: fixed
    top: 0
    left: 312px
    z-index: 10
    width: calc(100% - 312px)
    height: 150px
    padding: 0 40px
    background-color: $white
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 40px
    &._topline
      height: 100px
    &._type2
      border-bottom: 1px solid #E8F0F6
      justify-content: space-between
    &-search
      border-radius: 25px
      border: 1px solid #F0F0F6
      width: 100%
      height: 42px
      display: flex
      align-items: center
      background-color: #F2F3F9
      padding: 0 15px
      &__wrapper
        margin-right: auto
        max-width: 368px
        width: 100%
      &__input
        flex: 1 1 auto
        border: none
        width: 100%
        height: 100%
        padding: 0 10px
        background-color: transparent
        +geo-med
        font-size: 14px
        color: $grey1
        &::placeholder
          color: #abaeba
      &__btn
        margin: 0
        padding: 0
        flex: 0 0 auto
        width: 16px
        height: 100%
        line-height: 0
        background-color: transparent
        img
          width: 100%
    &-not
      border-radius: 10px
      height: 64px
      padding: 0 20px
      display: flex
      align-items: center
      gap: 15px
      background-color: #F3F3F9
      transition: 0.2s ease
      &:hover
        background-color: darken(#F3F3F9, 3%)
      &:active
        transform: scale(0.99)
      &__wrapper
        grid-column: 1/2
        grid-row: 1/3
        display: flex
        align-items: center
        height: 100%
        &._topline
          border-right: 1px solid #ECEDF2
          border-left: 1px solid #ECEDF2
          background-color: #F2F2F8
          padding: 0 22px
          .acc-h-not
            background-color: $white
      &-icon
        flex: 0 0 auto
        line-height: 0
        svg
          width: 24px
          height: 24px
      &-label
        +geo-bold
        font-size: 16px
        .count
          +geo-extrabold
          color: $active
    &-bar
      height: 100%
      display: grid
      grid-template-columns: auto auto min-content
      gap: 3px 25px
      &-name
        align-self: end
        grid-column: 2/3
        grid-row: 1/2
        +geo-extrabold
        font-size: 16px
        color: $grey1
      &-balance
        grid-column: 2/3
        grid-row: 2/3
        .label
          +geo-med
          font-size: 15px
          color: #a7afbd
        .value
          +geo-extrabold
          font-size: 15px
          color: $active
      &-btn
        &-out
          align-self: center
          grid-column: 3/4
          grid-row: 1/3
          border-radius: 50%
          width: 42px
          height: 42px
          display: flex
          align-items: center
          justify-content: center
          background-color: #F3F3F9
          transition: 0.2s ease
          &:hover
            background-color: darken(#F3F3F9, 3%)
            svg
              fill: $active
          &:active
            transform: scale(0.98)
          svg
            width: 20px
            height: 20px
            fill: #C8CBDF
            transition: 0.2s ease
    &-lang
      border-radius: 30px
      max-width: 258px
      width: 100%
      height: 52px
      padding: 0 14px
      display: flex
      align-items: center
      justify-content: space-between
      gap: 13px
      background-color: $grey4
      &-item
        display: flex
        align-items: center
        gap: 14px
      &-icon
        border-radius: 50%
        width: 28px
        height: 28px
        img, svg
          width: 100%
          height: 100%
      &-label
        +futura-heavy
        font-size: 20px
        color: $grey1
      &-arrow
        transform: rotate(45deg)
        font-size: 10px
        color: $purple1
      &-list
        top: calc(100% + 5px)
        border-radius: 20px
        background-color: $grey4
        padding: 10px 0
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3)
        .acc-h-lang-item
          padding: 8px 14px
          transition: 0.3s
          &:hover
            background-color: darken($grey4, 3%)
    &-backlink
      flex: 0 0 auto
      border-radius: 30px
      height: 58px
      padding: 0 25px
      background-color: $grey4
      +futura-heavy
      font-size: 20px
      color: $active
      &:hover
        background-color: darken($grey4, 3%)
  &-c
    padding: 190px 50px 50px
    flex: 1 1 auto
    &._topline
      padding-top: 30px
    &-h
      margin-bottom: 50px
      display: flex
      align-items: center
      gap: 15px
      &-icon
        flex: 0 0 auto
        line-height: 0
        max-width: 32px
        img
          max-width: 100%
      &-title
        margin: 0
        +geo-extrabold
        font-size: 27px
        color: $grey1
  &-f
    width: 100%
    height: 168px
    padding: 0 70px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $white
    +geo-med
    font-size: 16px
    color: #acafc7
    &._type2
      height: auto
      padding: 30px 40px
      background-color: #E8EEF6
    &-copy
      flex: 0 1 30%
    &-disc
      flex: 0 1 60%
      text-align: right
  &-prst
    border-radius: 10px
    border: 1px solid #EAEAF3
    background-color: $white
    box-shadow: 0px 0px 30px 5px rgba(#EEEFF6, 1)
    &-block
      border-bottom: 1px solid #EAEAF3
      padding: 35px 40px
      &:nth-last-of-type(1)
        border-bottom: none
      .f2
        &-part
          margin-bottom: 25px
          display: block
          &:nth-last-of-type(1)
            margin-bottom: 0
      &__btn
        margin-top: 25px
      &__radiobtn
        margin-top: 15px
      &__checkbox
        margin-top: 15px
    &-title
      margin-bottom: 35px
      +geo-extrabold
      font-size: 20px
      color: $grey1
  &-box
    border-radius: 10px
    border: 1px solid #EAEAF3
    padding: 40px 45px
    background-color: $white
    box-shadow: 0px 0px 30px 5px rgba(#EEEFF6, 1)
    &-title
      margin-bottom: 35px
      +geo-bold
      font-size: 22px
      color: $grey1
  &-api
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 35px
    &-key
      grid-column: 1/2
      grid-row: 1/2
    &-req
      grid-column: 1/2
      grid-row: 2/3
      &__inner
        display: flex
        flex-direction: column
        gap: 10px
    &-method
      border-radius: 10px
      min-height: 55px
      padding: 10px 20px
      display: flex
      align-items: center
      justify-content: space-between
      background-color: #F2F2F8
      &-label
        flex: 0 0 auto
        border-radius: 10px
        padding: 8px 10px
        +geo-bold
        font-size: 14px
        color: $white
        &._blue
          background-color: $blue
        &._green
          background-color: $green4
        &._red
          background-color: $red
        &._cyan
          background-color: $cyan
      &-value
        +geo-bold
        font-size: 14px
        color: $grey1
    &-doc
      grid-column: 2/3
      grid-row: 1/3
      &__inner
        +geo-med
        font-size: 15px
        color: $grey1
        p
          margin: 0
          margin-bottom: 25px
          &:nth-last-of-type(1)
            margin-bottom: 0
  &-fq1
    display: flex
    &-list
      padding-top: 15px
      flex: 0 0 300px
      width: 300px
    &-item
      position: relative
      z-index: 2
      border-top: 1px solid transparent
      border-left: 1px solid transparent
      border-bottom: 1px solid #EDEDF6
      min-height: 60px
      padding: 10px 10px 10px 24px
      display: flex
      align-items: center
      +geo-bold
      font-size: 16px
      color: $grey1
      transition: 0.2s ease
      cursor: pointer
      &::after
        content: ''
        position: absolute
        top: 0
        right: -2px
        z-index: 2
        width: 2px
        height: 100%
        background-color: $white
        opacity: 0
        transition: 0.2s ease
      &.active
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        border-color: #EDEDF6
        background-color: $white
        color: $active
        &::after
          opacity: 1
    &-nodes
      flex: 1 1 auto
    &-box
      p
        margin: 0
        margin-bottom: 40px
        +geo-med
        line-height: 1.3
        font-size: 15px
        color: $grey1
        &:nth-last-of-type(1)
          margin-bottom: 0
  &-topline
    margin-top: 100px
    border-top: 1px solid #E7E7F0
    border-bottom: 1px solid #E7E7F0
    min-height: 50px
    padding: 5px 30px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #F2F2F8
    .acc-c-h
      margin-bottom: 0
    &-link
      display: flex
      align-items: center
      gap: 8px
      +geo-bold
      font-size: 14px
      color: #a7afbd
      &-icon
        line-height: 0
  &-not
    border-radius: 10px
    border: 1px solid #EAEAF3
    background-color: $white
    box-shadow: 0px 0px 30px 5px rgba(#EEEFF6, 1)
    &-h
      border-bottom: 1px solid #EAEAF3
      padding: 40px
      display: flex
      justify-content: space-between
      gap: 20px
      &-bar
        display: flex
        align-items: center
        gap: 20px
        flex-wrap: wrap
      &-link
        flex: 0 0 auto
        border-radius: 30px
        height: 50px
        padding: 0 20px
        gap: 15px
        +geo-bold
        font-size: 17px
        .icon
          flex: 0 0 auto
          line-height: 0
          max-width: 28px
          img, svg
            width: 100%
    &-btn
      &-func
        border-radius: 30px
        border-width: 2px
        height: 50px
        padding: 0 18px
        gap: 15px
        +geo-extrabold
        font-size: 17px
        color: $grey1
        transition: 0.2s ease
        &:hover
          background-color: darken($white, 5%)
        .icon
          flex: 0 0 auto
          line-height: 0
          max-width: 24px
          img, svg
            max-width: 100%
    &-b
      padding: 40px
      display: flex
      flex-direction: column
      gap: 40px
    &-item
      border-radius: 10px
      border: 1px solid #EDEDF3
      padding: 20px 16px
      display: grid
      grid-template-columns: 1fr auto
      gap: 0 15px
      background-color: #F3F3F9
      &__wrapper
        display: flex
        align-items: center
        gap: 40px
      &-check
        flex: 0 0 auto
      &-close
        align-self: start
        justify-self: end
        grid-column: 2/3
        grid-row: 1/2
        background-color: transparent
        svg
          width: 13px
          height: 13px
          fill: #DDDCEA
      &-title
        grid-column: 1/2
        grid-row: 1/2
        margin-bottom: 20px
        +geo-bold
        font-size: 17px
        color: $grey1
      &-text
        grid-column: 1/2
        grid-row: 2/3
        +geo-med
        font-size: 15px
        color: #9190a0
      &-f
        align-self: end
        grid-column: 2/3
        grid-row: 2/3
        display: flex
        align-items: center
        gap: 16px
      &-date
        +geo-med
        font-size: 13px
        color: #c6c5d5
      &-icon
        flex: 0 0 auto
        width: 24px
        line-height: 0
        img, svg
          width: 100%
  &-rul
    &-box
      +futura-med
      font-size: 22px
      line-height: 1.3
      color: $grey1
      p
        margin: 0
        margin-bottom: 40px
        &:nth-last-of-type(1)
          margin-bottom: 0
      b
        +futura-demi
      ._lighten
        color: #8388a1
      a
        color: $active
  &-bln
    border-radius: 10px
    border: 1px solid #EAEAF3
    display: flex
    background-color: $white
    box-shadow: 0px 0px 30px 5px rgba(#EEEFF6, 1)
    &-page
      display: flex
      flex-direction: column
      gap: 36px
    &-value
      position: relative
      border-right: 1px solid #EAEAF3
      padding: 40px 45px
      display: flex
      flex-direction: column
      justify-content: center
      gap: 20px
      &__bgpic
        position: absolute
        bottom: 0
        left: 0
        z-index: 1
      .label
        position: relative
        z-index: 2
        +geo-med
        font-size: 16px
        color: #a6abbc
      .value
        position: relative
        z-index: 2
        +geo-extrabold
        font-size: 52px
        color: $active
    &-bar
      flex: 1 1 auto
      padding: 40px 45px
      display: flex
      gap: 27px
      &__amount
        flex: 0 0 308px
      &__pay
        flex: 1 1 auto
  &-pay
    &-grid
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: 45px
    &-item
      border-radius: 10px
      padding: 20px
      display: flex
      align-items: center
      justify-content: space-between
      background-color: #F2F2F8
      &-pic
        border-radius: 10px
        flex: 0 1 50%
        height: 115px
        padding: 0 20px
        display: flex
        align-items: center
        justify-content: center
        background-color: $white
        box-shadow: 0px 0px 20px 5px rgba(#E9EBF2, 1)
        img
          max-width: 100%
      &-info
        flex: 0 1 46%
        display: flex
        flex-direction: column
        gap: 15px
        align-items: center
        justify-content: center
      &-label
        +geo-extrabold
        font-size: 18px
        color: $grey1
      &-sub
        +geo-med
        font-size: 14px
        color: #979aae
        strong
          +geo-bold
          color: $grey1
  &-rf
    display: flex
    justify-content: space-between
    gap: 35px
    &-page
      display: flex
      flex-direction: column
      gap: 40px
    &-pnl
      flex: 0 1 40%
      .f2-part
        display: block
        margin-bottom: 25px
      &-text
        +geo-med
        font-size: 15px
        color: $grey1
        a
          text-decoration: underline
          +geo-bold
          color: $active
    &-bar
      flex: 0 1 58%
      border-radius: 10px
      border: 1px solid #EAEAF3
      background-color: $white
      box-shadow: 0px 0px 30px 5px rgba(#EEEFF6, 1)
      &-top
        border-bottom: 1px solid #F3F3F9
        padding: 45px 50px
        display: flex
        align-items: center
        justify-content: space-between
      &-bottom
        padding: 45px 50px
    &-value
      .label
        margin-bottom: 10px
        +geo-med
        font-size: 16px
        color: #828595
      .value
        +geo-extrabold
        font-size: 40px
        color: $active
    &-value2
      border-radius: 10px
      padding: 18px
      display: flex
      align-items: center
      gap: 8px
      background-color: #F3F3F9
      .label
        +geo-bold
        font-size: 16px
        color: $grey1
      .value
        +geo-extrabold
        font-size: 24px
        color: $active
  &-stat
    &-grid
      display: flex
      gap: 35px
      flex-wrap: wrap
    &-item
      flex: 1 1 auto
      border-radius: 10px
      padding: 25px 10px 25px 20px
      display: flex
      align-items: center
      gap: 15px
      background-color: #F3F3F9
      &-pic
        flex: 0 0 auto
        max-width: 60px
        width: 100%
        line-height: 0
        img, svg
          width: 100%
      &-value
        +geo-extrabold
        font-size: 40px
        color: $grey1
      &-sub
        +geo-med
        font-size: 16px
        color: #828595
  &-textbanner
    border-radius: 10px
    padding: 35px 15px
    display: flex
    align-items: center
    justify-content: center
    background-color: #EDEDF6
    text-align: center
    +geo-bold
    font-size: 18px
    color: $grey1
    p
      margin: 0
    a
      text-decoration: underline
      color: $active

@media ( max-width: 1600px )
  .acc
    &-rf
      &-bar
        &-top
          padding: 25px 30px
        &-bottom
          padding: 25px 30px
        .acc-rf-amount
          .f2
            &-field
              flex-wrap: wrap
            &-input
              flex: 0 1 50%

@media ( max-width: 1440px )
  .acc
    grid-template-columns: 250px auto
    &-sb
      width: 250px
      &._type2
        .acc-sb
          &-inner
            padding-top: 100px
      &-h
        width: 250px
        height: 100px
        &-logo
          width: 170px
      &-inner
        padding: 130px 0 15px
      &-nav
        &-group
          margin-bottom: 15px
        &-label
          margin-bottom: 10px
          padding-left: 20px
          font-size: 16px
          .arrow
            font-size: 8px
        &-item
          padding: 8px 8px 8px 20px
          &-icon
            svg
              width: 20px
              height: 20px
          &-title
            font-size: 14px
          &-mark
            margin-left: 5px
            width: 16px
            height: 16px
            font-size: 10px
      &-f
        padding: 20px 10px
      &-lang
        height: 45px
        &-item
          gap: 10px
        &-label
          font-size: 14px
      &-acrd
        &-item
          &-h
            min-height: 60px
            padding: 10px 20px
          &-label
            font-size: 16px
          &-arrow
            width: 28px
            height: 28px
          &-content
            padding: 10px 20px
        &-list
          font-size: 16px
    &-h
      left: 250px
      width: calc(100% - 250px)
      height: 100px
      padding: 0 20px
      gap: 20px
      &-search
        &__wrapper
          max-width: 300px
      &-not
        height: 50px
        padding: 0 15px
        gap: 10px
        &-label
          font-size: 14px
      &-bar
        gap: 0 15px
        &-name
          font-size: 14px
        &-balance
          .label, .value
            font-size: 14px
      &-lang
        height: 45px
        &-item
          gap: 10px
        &-label
          font-size: 14px
      &-backlink
        height: 50px
        padding: 0 15px
        font-size: 18px
    &-c
      padding: 130px 30px 30px
      &-h
        margin-bottom: 30px
        gap: 12px
        &-icon
          max-width: 24px
        &-title
          font-size: 24px
    &-f
      padding: 0 30px
      font-size: 14px
      &._type2
        padding: 30px
    &-prst
      &-title
        font-size: 18px
      &-block
        padding: 15px 30px 25px
        .f2
          &-part
            margin-bottom: 15px
        &__btn
          margin-top: 15px
      &-title
        margin-bottom: 25px
    &-box
      padding: 20px 25px
      &-title
        margin-bottom: 20px
        font-size: 20px
    &-api
      gap: 25px
      &-method
        min-height: 45px
        padding: 8px 15px
        &-label
          padding: 6px 8px
      &-doc
        &__inner
          font-size: 14px
          p
            margin-bottom: 15px
    &-fq1
      &-list
        flex: 0 0 250px
        width: 250px
      &-item
        min-height: 50px
        padding: 10px 10px 10px 16px
        font-size: 14px
      &-box
        p
          margin-bottom: 20px
    &-topline
      margin-top: 100px
    &-not
      &-h
        padding: 20px
        gap: 15px
        &-bar
          gap: 15px
        &-link
          height: 45px
          padding: 0 15px
          font-size: 16px
      &-btn
        &-func
          height: 45px
          padding: 0 15px
          font-size: 16px
      &-b
        padding: 20px
        gap: 20px
      &-item
        padding: 16px
        &__wrapper
          gap: 20px
    &-rul
      &-box
        font-size: 20px
        p
          margin-bottom: 20px
    &-bln
      &-value
        padding: 20px 25px
        gap: 10px
        &__bgpic
          width: 120px
        .value
          font-size: 36px
      &-bar
        padding: 20px 25px
        &__amount
          flex: 0 0 260px
    &-pay
      &-grid
        gap: 15px
      &-item
        padding: 15px
        &-pic
          height: 100px
          padding: 0 30px
    &-stat
      &-grid
        gap: 15px
      &-item
        padding: 15px 10px 15px 15px
        &-value
          font-size: 28px
        &-pic
          max-width: 40px
    &-rf
      gap: 16px
      &-page
        gap: 16px
      &-pnl
        &-text
          font-size: 14px
      &-value
        .label
          font-size: 14px
        .value
          font-size: 28px
      &-value2
        padding: 12px
        .label
          font-size: 14px
        .value
          font-size: 20px
      &-bar
        &-top
          padding: 20px 25px
        &-bottom
          padding: 20px 25px
        .acc-rf-amount
          .f2
            &-field
              gap: 8px
            &-input
              flex: 0 1 20%

@media ( max-width: 1200px )
  .acc
    display: block
    &-sb
      position: fixed
      top: 0
      left: 0
      z-index: 11
      height: 100%
      transform: translateX(-100%)
      transition: 0.3s
      &.active
        transform: translateX(0)
      &._type2
        .acc-sb
          &-inner
            padding-top: 0
      &-triggerbtn
        position: absolute
        top: 180px
        right: -60px
        border-radius: 50%
        width: 45px
        height: 45px
        display: flex
        align-items: center
        justify-content: center
        background-color: $white
        box-shadow: 0 0 25px 3px rgba(#000000, 0.2)
        cursor: pointer
        transition: 0.3s
        img, svg
          width: 25px
          transition: 0.3s
        &.active
          background-color: $active
          svg, circle, path
            fill: $white
      &-h
        position: static
        flex: 0 0 auto
        width: 100%
        height: 100px
        justify-content: flex-start
        padding: 0 20px
      &-inner
        padding: 15px 0
        overflow-y: auto
        overscroll-behavior: none
        &::-webkit-scrollbar-thumb
          background: #706a7f
      &-f
        min-height: auto
    &-frame
      min-height: 100vh
    &-h
      left: 0
      width: 100%
    &-f
      padding: 30px
      height: auto

@media ( max-width: 991px )
  .acc
    &-sb
      &-h
        height: 80px
        &-logo
    &-h
      height: 80px
      &._topline
        height: 80px
      &-search
        &__wrapper
      &-not
        height: 42px
        padding: 0 10px
        gap: 5px
        &-label
          .label
            display: none
      &-backlink
        height: 45px
        font-size: 16px
    &-c
      padding: 110px 30px 30px
    &-api
      grid-template-columns: 100%
      gap: 15px
      &-key
        grid-column: 1/2
        grid-row: 1/2
      &-req
        grid-column: 1/2
        grid-row: 2/3
      &-doc
        grid-column: 1/2
        grid-row: 3/4
    &-topline
      margin-top: 80px
    &-not
      &-h
        &-bar
          gap: 10px
        &-link
          height: 40px
          gap: 10px
          font-size: 14px
          .icon
            max-width: 20px
      &-btn
        &-func
          height: 40px
          gap: 10px
          font-size: 14px
          .icon
            max-width: 20px
      &-item
        &-title
          margin-bottom: 10px
          font-size: 16px
        &-text
          font-size: 14px
    &-rul
      &-box
        font-size: 18px
        p
          margin-bottom: 15px
    &-bln
      &-page
        gap: 24px
      &-value
        padding: 15px
        &__bgpic
          width: 80px
        .value
          font-size: 32px
      &-bar
        padding: 15px
        flex-direction: column
        gap: 15px
        &__amount
          width: 100%
          flex: auto
        &__pay
          width: 100%
          flex: auto
    &-pay
      &-item
        flex-direction: column
        gap: 15px
        &-pic
          width: 100%
          flex: auto
          padding: 15px 30px
          img
            max-height: 100%
        &-info
          width: 100%
          flex: auto
          gap: 5px
    &-rf
      flex-direction: column
      &-pnl
        flex: auto
        width: 100%
        .f2
          &-part
            margin-bottom: 15px
      &-bar
        flex: auto
        width: 100%
    &-stat
      &-item
        &-value
          font-size: 24px
        &-sub
          font-size: 14px
    &-textbanner
      padding: 15px
      font-size: 16px

@media ( max-width: 768px )
  .acc
    &-h
      &-not
        &__wrapper
          &._topline
            padding: 0 15px
    &-c
      padding: 110px 15px 15px
    &-prst
      &-title
        margin-bottom: 15px
      &-block
        padding: 15px 20px
    &-fq1
      flex-direction: column
      gap: 15px
      &-list
        flex: auto
        width: 100%
        padding-top: 0
        padding-bottom: 8px
        overflow-x: auto
        display: flex
        align-items: center
        gap: 10px
      &-item
        border-radius: 30px
        border: 1px solid #EDEDF6
        min-height: auto
        padding: 8px 10px
        background-color: $white
        white-space: nowrap
        &::after
          display: none
        &.active
          border-radius: 30px
      &-nodes
        width: 100%
      &-box
        p
          font-size: 14px
    &-topline
      border: none
      flex-direction: column-reverse
      align-items: flex-start
      padding: 15px
      gap: 10px
    &-not
      &-h
        padding: 15px
        &-link
          width: 36px
          height: 36px
          padding: 0
          justify-content: center
          .text
            display: none
      &-btn
        &-func
          width: 36px
          height: 36px
          padding: 0
          justify-content: center
          .text
            display: none
      &-b
        padding: 15px
        gap: 10px
      &-item
        position: relative
        padding: 10px
        padding-top: 20px
        grid-template-columns: 100%
        gap: 10px 0
        &__wrapper
          gap: 12px
        &-close
          position: absolute
          top: 5px
          right: 2px
          grid-column: auto
          grid-row: auto
        &-title
          grid-column: 1/2
          grid-row: 1/2
          font-size: 14px
        &-text
          grid-column: 1/2
          grid-row: 2/3
          line-height: 1.3
          font-size: 12px
        &-f
          justify-self: end
          grid-column: 1/2
          grid-row: 3/4
          gap: 8px
        &-date
          font-size: 12px
        &-icon
          width: 16px
    &-f
      &._type2
        padding: 15px
    &-rul
      &-box
        font-size: 16px
    &-pay
      &-item
        padding: 10px
        &-pic
          padding: 15px
          height: 80px
        &-label
          font-size: 16px
    &-rf
      &-page
        gap: 16px
    &-stat
      &-grid
        gap: 10px
      &-item
        padding: 10px
        &-pic
          max-width: 30px
        &-value
          font-size: 20px

@media ( max-width: 520px )
  .acc
    &-sb
      &-triggerbtn
        right: -50px
        width: 36px
        height: 36px
        img, svg
          width: 18px
      &-h
        height: 60px
        &-logo
          width: 140px
    &-h
      height: 60px
      padding: 0 15px
      &._topline
        height: 60px
      &-search
        &__wrapper
          display: none
      &-bar
        flex: 1 1 auto
        width: 100%
        grid-template-columns: 1fr auto min-content
        &-name
          grid-column: 1/2
        &-balance
          grid-column: 1/2
      &-not
        &__wrapper
          grid-column: 2/3
      &-lang
        max-width: 200px
        height: 40px
      &-backlink
        height: 40px
        font-size: 14px
    &-c
      padding: 80px 15px 15px
      &._topline
        padding-top: 15px
      &-h
        margin-bottom: 15px
        &-icon
          max-width: 20px
        &-title
          font-size: 20px
    &-f
      padding: 15px
      flex-direction: column
      gap: 15px
      font-size: 12px
      &-copy
        flex: auto
        text-align: center
      &-disc
        flex: auto
        text-align: center
    &-box
      padding: 15px
      &-title
        margin-bottom: 15px
        font-size: 18px
    &-api
      &-method
        border-radius: 5px
        padding: 6px 10px
        min-height: 40px
        &-label
          border-radius: 5px
          font-size: 12px
      &-doc
        &__inner
          font-size: 12px
          line-height: 1.3
    &-topline
      margin-top: 60px
      &-link
        font-size: 12px
        gap: 4px
    &-bln
      flex-direction: column
      &-page
        gap: 15px
      &-value
        border-right: none
        border-bottom: 1px solid #EAEAF3
        width: 100%
        gap: 5px
        .label
          font-size: 14px
      &-bar
        width: 100%
    &-pay
      &-grid
        grid-template-columns: repeat(2, 1fr)
      &-item
        gap: 10px
        &-pic
          height: 60px
          padding: 10px 20px
        &-label
          font-size: 14px
        &-sub
          font-size: 12px
    &-stat
      &-item
        gap: 12px
        &-value
          font-size: 18px
        &-sub
          font-size: 12px
    &-rf
      &-value
        .label
          margin-bottom: 5px
          font-size: 12px
        .value
          font-size: 24px
      &-value2
        padding: 10px
        .value
          font-size: 18px
      &-bar
        &-top
          padding: 15px
          flex-direction: column
          align-items: flex-start
          gap: 15px
        &-bottom
          padding: 15px
        .acc-rf-amount
          .f2
            &-input
              flex: 1 1 auto
    &-textbanner
      font-size: 14px

@media ( max-width: 360px )
  .acc
    &-sb
      width: 220px
