.pagemain
  &-pc
    position: relative
    padding: 30px 0 130px
    &__bg
      position: absolute
      z-index: 1
      top: -300px
      left: 0
      width: 100%
    &__inner
      position: relative
      z-index: 2
    &-tabs
      padding-top: 90px
      &-list
        margin: 0 auto 65px
        max-width: 1100px
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        gap: 40px
      &-item
        flex: 1 1 auto
        position: relative
        border: 3px solid transparent
        border-radius: 33px
        height: 66px
        display: flex
        align-items: center
        justify-content: center
        gap: 10px
        background-color: $white
        +futura-demi
        font-size: 22px
        color: $grey1
        cursor: pointer
        transition: 0.3s ease-in-out
        &::before
          content: ''
          position: absolute
          z-index: -1
          top: 100%
          left: 50%
          transform: translateX(-50%)
          width: 80%
          height: 2px
          background-color: transparent
          box-shadow: 0 10px 15px 4px rgba(#D8E2E8, 1)
          transition: opacity 0.3s
        &::after
          content: ''
          position: absolute
          top: calc(100% + 3px)
          left: 50%
          transform: translateX(-50%)
          width: 0
          height: 0
          border-style: solid
          border-width: 6px 6px 0 6px
          border-color: $active transparent transparent transparent
          opacity: 0
          transition: opacity 0.3s
        &.active
          border-color: $active
          &::before
            opacity: 0
          &::after
            opacity: 1
        .icon
          max-width: 27px
