.prt
  &-ms
    position: relative
    padding-top: 40px
    padding-bottom: 100px
    &-bgpic
      &-1
        position: absolute
        top: 8%
        left: 10%
        z-index: 1
      &-2
        position: absolute
        top: 12%
        right: 20%
        z-index: 1
    &-pic
      &-1
        position: absolute
        bottom: 1%
        left: 2%
        z-index: 1
      &-2
        position: absolute
        bottom: 0
        right: 2%
        z-index: 1
    &__inner
      position: relative
      z-index: 2
      display: flex
      flex-direction: column
      align-items: center
    &-title
      margin: 0
      margin-bottom: 60px
      text-align: center
      +futura-bold
      text-transform: uppercase
      font-size: 52px
      color: $grey1
      strong
        font-size: 80px
      i
        font-style: normal
        color: $active
    &-desc
      margin: 0 auto 80px
      max-width: 1170px
      text-align: center
      +futura-med
      font-size: 35px
      color: $grey1
    &-btn
      border-radius: 30px
      height: 60px
      padding: 0 25px
      +futura-heavy
      text-transform: uppercase
      font-size: 23px
  &-tb
    padding-top: 80px
    padding-bottom: 120px
    background-color: $grey4
    &-h
      margin-bottom: 80px
    &-tabs
      display: flex
      gap: 45px
      &-list
        flex: 0 0 485px
        border-radius: 20px
        background-color: $white
        overflow: hidden
      &-item
        border-top: 2px solid $grey4
        border-left: 3px solid transparent
        min-height: 77px
        padding: 10px 40px
        display: flex
        align-items: center
        justify-content: space-between
        cursor: pointer
        transition: 0.3s ease
        &:nth-of-type(1)
          border-top: none
        &.active
          border-left: 3px solid $active
          box-shadow: 0px 0px 25px 8px rgba(#E4E9EC, 1)
          .prt-tb-tabs-item-label
            color: $active
        &-label
          +futura-heavy
          font-size: 22px
          color: $grey1
          transition: 0.3s ease
        &-value
          +futura-demi
          font-size: 18px
          color: $grey2
      &-box
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 45px
    &-card
      border-radius: 20px
      padding: 25px 35px
      background-color: $white
      box-shadow: 0px 0px 25px 10px rgba(#D6E2EB, 1)
      &-pic
        margin-bottom: 25px
        width: 84px
        line-height: 0
        img
          width: 100%
      &-title
        margin-bottom: 25px
        +futura-demi
        font-size: 27px
        color: $grey1
      &-text
        +futura-med
        font-size: 19px
        color: $grey2

@media ( max-width: 1600px )
  .prt
    &-ms
      &-bgpic
        &-1
          width: 300px
        &-2
          width: 120px
      &-pic
        &-1
          width: 320px
        &-2
          width: 200px
    &-tb
      &-tabs
        &-list
          flex: 0 0 350px

@media ( max-width: 1440px )
  .prt
    &-ms
      &-title
        margin-bottom: 80px
        font-size: 40px
        strong
          font-size: 60px
      &-desc
        margin: 0 auto 80px
        max-width: 900px
        font-size: 28px
    &-tb
      padding-top: 60px
      padding-bottom: 60px
      &-h
        margin-bottom: 60px
      &-tabs
        gap: 30px
        &-item
          min-height: 65px
          padding: 10px 30px
          &-label
            font-size: 20px
        &-box
          gap: 30px
      &-card
        padding: 20px
        &-pic
          margin-bottom: 15px
          width: 70px
        &-title
          margin-bottom: 15px
          font-size: 24px
        &-text
          font-size: 16px

@media ( max-width: 1330px )
  .prt
    &-tb
      &-tabs
        &-item
          min-height: 60px
          padding: 10px 20px
          &-label
            font-size: 18px
        &-list
          flex: 0 0 280px

@media ( max-width: 1200px )
  .prt
    &-tb
      &-tabs
        &-box
          grid-template-columns: repeat(2, 1fr)

@media ( max-width: 991px )
  .prt
    &-ms
      padding-bottom: 60px
      &-bgpic
        &-1
          width: 140px
        &-2
          width: 80px
      &-pic
        &-1
          width: 200px
        &-2
          width: 120px
      &-title
        margin-bottom: 40px
        font-size: 32px
        strong
          font-size: 42px
      &-desc
        margin: 0 auto 40px
        font-size: 22px
      &-btn
        height: 50px
        padding: 0 20px
        font-size: 20px
    &-tb
      &-tabs
        gap: 20px
        &-list
          border-radius: 10px
          flex: 0 0 240px
        &-item
          padding: 0 15px
          &-label
            font-size: 16px
          &-value
            font-size: 16px
        &-box
          gap: 20px
      &-card
        border-radius: 10px

@media ( max-width: 768px )
  .prt
    &-ms
      padding-top: 15px
      &-title
        margin-bottom: 40px
        font-size: 28px
        strong
          font-size: 36px
      &-desc
        font-size: 18px
      &-btn
        height: 45px
        padding: 0 15px
        font-size: 18px
    &-tb
      padding-top: 30px
      padding-bottom: 30px
      &-h
        margin-bottom: 30px
      &-tabs
        flex-direction: column
        &-list
          flex: auto
          display: flex
          gap: 10px
          overflow-x: auto
          padding-bottom: 10px
          background-color: transparent
        &-item
          border-radius: 30px
          border: 1px solid transparent
          min-height: auto
          padding: 8px 10px
          background-color: $white
          gap: 20px
          &:nth-of-type(1)
            border-top: 1px solid transparent
          &.active
            border-color: $active
            border-left: 1px solid $active
            box-shadow: none
            .prt-tb-tabs-item-label
              color: $grey1
          &-label
            white-space: nowrap
          &-value
            white-space: nowrap
        &-box
          gap: 10px
          grid-template-columns: repeat(3, 1fr)
      &-card
        padding: 15px
        display: grid
        grid-template-columns: min-content auto
        gap: 10px
        box-shadow: none
        &-pic
          grid-column: 1/2
          grid-row: 1/2
          margin-bottom: 0
          width: 40px
        &-title
          align-self: center
          grid-column: 2/3
          grid-row: 1/2
          margin-bottom: 0
          font-size: 20px
        &-text
          grid-column: 1/3
          grid-row: 2/3
          font-size: 14px

@media ( max-width: 520px )
  .prt
    &-ms
      padding-bottom: 40px
      &-pic
        &-1
          width: 120px
        &-2
          width: 80px
      &-title
        margin-bottom: 30px
        font-size: 24px
        strong
          font-size: 28px
      &-desc
        margin: 0 auto 30px
      &-btn
        height: 40px
        font-size: 16px
    &-tb
      &-tabs
        &-item
          gap: 10px
          &-label
            font-size: 14px
          &-value
            font-size: 14px
        &-box
          grid-template-columns: repeat(2, 1fr)
